<section class="c-overview">
    <span class="c-votes">
        {{score}}
    </span>

    <header class="c-overview__header">
        {{#if showPostSubreddit}}
            <span class="c-overview__subreddit">
                {{subreddit_name_prefixed}}
            </span>
        {{/if}}

        <span class="c-overview__user">
            Posted by u/{{author}}

            {{#if author_flair_text}}
                <span
            {{/if}}
        </span>

        {{#if stickied}}
            <span role="img" aria-label="Stickied">📌</span>
        {{/if}}

        {{#if authorIsModerator}}
            <span role="img" aria-label="Moderator">🛡</span>
        {{/if}}

        <span class="c-overview__post-date">
            {{timeAgo created_utc}}
        </span>
    </header>

    <h2 class="c-overview__title">
        <a href="{{permalink}}">
            {{title}}
        </a>
    </h2>

<p class="c-overview__selftext">
    {{#if selftext_html}}
        {{{selftext_html}}}
    {{/if}}

    {{#if over_18}}
        NSFW
    {{else}}
        {{#if preview}}
            <div class="c-overview__preview">
                {{#if preview.reddit_video_preview}}
                    <video width="320" height="240" controls loop muted playsinline>
                        <source src="{{preview.images.0.variants.mp4.resolutions.2.url}}" type="video/mp4"/>

                        <img src="{{preview.images.0.variants.gif.resolutions.2.url}}" alt="{{title}}"/ >
                    </video>
                {{else}}
                    <img src="{{preview.images.0.resolutions.3.url}}" height="{{preview.images.0.resolutions.3.height}}"
                         width="{{preview.images.0.resolutions.3.width}}" alt="{{title}}">
                {{/if}}
            </div>
        {{/if}}
    {{/if}}
    </p>

    <footer class="c-overview__footer">
        <a href="{{permalink}}" class="c-overview__comments" aria-label="View comments">{{num_comments}} comments</a>
    </footer>
</section>
