<section class="c-post__content">
    {{#if resolvedMedia}}
        <div class="c-post__media">
            {{#if resolvedMedia.image}}

                <img class="c-post__image" src="{{resolvedMedia.image.url}}" alt="{{title}}">

            {{/if}}

            {{#if resolvedMedia.images}}
                <img class="c-post__image"

                     srcset="{{#each resolvedMedia.images}}{{url}} {{width}}{{#if @last}}{{else}}, {{/if}}{{/each}}"

                     sizes="{{#each resolvedMedia.images}}(max-width: {{width}}px) {{width}}{{#if
                             @last}}{{else}},{{/if}}{{/each}}"

                     src="{{resolvedMedia.images.3.url}}"
                     alt="{{title}}">
            {{/if}}

            {{#if resolvedMedia.video}}
                <video class="c-post__video" preload="none"
                    {{#if isGif}}

                    {{else}}
                       controls
                    {{/if}}
                       poster="{{resolvedMedia.video.placeholder}}">

                    {{#each resolvedMedia.video.formats}}
                        <source src="{{url}}" type="{{type}}"/>
                    {{/each}}

                    Your browser does not support html5 video
                </video>
            {{/if}}

        </div>
    {{else}}

        {{#if selftext_html}}
            {{{ selftext_html }}}
        {{else}}
            {{#if externalLink}}
                <a href="{{externalLink}}" rel="noopener noreferrer" target="_blank"
                   class="c-post-preview__external-link">
                    {{externalLink}}
                </a>
            {{else}}
                <a href="{{url}}" rel="noopener noreferrer" target="_blank"
                   class="c-post-preview__external-link">
                    {{url}}
                </a>
            {{/if}}
        {{/if}}
    {{/if}}
</section>


